
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="content">

		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-dashboard"></i> Edit Client
				</h1>
				<p></p>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
				<li class="breadcrumb-item"><a href="#">Edit Client</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					<div class="row">
						<div class="col-lg-6">
							<h3 class="tile-title">Edit Client</h3>
							<form th:object="${client}" action=# th:action="@{/client/edit/{id}(id=${client.id})}" method="post">
								<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    							<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
								</div>
								<p>
									Name: <input class="form-control" type="text" th:field="*{name}" />
								</p>
								<div>
								<label class="control-label">Status:
								<select  class="form-control" th:field="*{status}">
									<option th:each="el : ${statusList}" th:value="${el}"
										th:text="${el}" />
								</select>
								</label>
								</div>
								
								<p>
									Nip: <input  class="form-control" type="text" th:field="*{nip}" />
								</p>
								<p>
									Responsible employee: <input  class="form-control" type="text" th:field="*{user.email}" />
								</p>
								<h4 class="tile-title">Contact person</h4>
								 <fieldset >
								 <p>
									Firstname: <input  class="form-control" type="text" th:field="*{contactPerson.firstname}" />
								</p>
								 <p>
									Lasttname: <input  class="form-control" type="text" th:field="*{contactPerson.lastname}" />
								</p>
								<p>
									Email: <input  class="form-control" type="text" th:field="*{contactPerson.email}" />
								</p>
								<p>
									Phone: <input  class="form-control" type="text" th:field="*{contactPerson.phone}" />
								</p>
								 </fieldset>
								<h4 class="tile-title">Client address</h4>
								 <fieldset >
								 <p>
									Country: <input  class="form-control" type="text" th:field="*{address.country}" />
								 </p>
								 <p>
									Region: <input  class="form-control" type="text" th:field="*{address.region}" />
								 </p>
								 <p>
									City: <input  class="form-control" type="text" th:field="*{address.city}" />
								 </p>
								 <p>
									Street: <input  class="form-control" type="text" th:field="*{address.street}" />
								 </p>
								 <p>
									Postcode: <input  class="form-control" type="text" th:field="*{address.postcode}" />
								</p>
								 </fieldset>
								
								<div>
								<p>
									<input  class="form-control" class="btn btn-primary" type="submit" value="Save changes" />
								</p>
								</div>
							</form>



						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
</body>
</html>