
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<body>
	<section layout:fragment="content">
		<div class="app-title">
			<div>
				<h1>
					<i class="fa fa-dashboard"></i> Home Page
				</h1>
				<p>Welcome in Your CRM system</p>
			</div>
			<ul class="app-breadcrumb breadcrumb">
				<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
				<li class="breadcrumb-item"><a href="#">Generating PDF</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile">
					


					<p class="bs-component">
					HOME PAGE
					</p>
					
				</div>


			</div>
		</div>
	</section>
</body>
</html>